/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  opacity: 0.1
  transition 0.25s
  //max-height: 0
  //padding 0 !important
  &.order-enter-active
    //max-height 60px
    opacity: 1
    //padding 2rem 0 !important

.order-exit
  transition 0.25s
  opacity: 1
  &.order-exit-active
    opacity: 0
    padding: 0

.order-qty-enter
  transition 0.25s
  transform scale(0)
  &.order-qty-enter-active
    transform scale(2)

.order-qty-exit
  opacity 1
  transition 0.25s
  // position absolute
  // left 0
  // bottom 0
  &.order-qty-exit-active
    background green
    opacity 0
    display none
