orange = #933a3a
red = #933a3a
green = #2DC22D
$grey = #e3e4e6
$beige = #f7d0cb
$offWhite = #f9fafc
$notBlack = 	#313131
$champagne = #f6d9d5
$eggshell = #EAE7DC
$darkVanilla = #D8C3A5
$taupe = #8E8D8A
$jellyOrange = #E98074
$beanRed = #E85A4F
$deepNavy = #314455
$dullRed = #644E5B
$anotherRed = #9E5A63
